{{#each postss as |post|}}

<div>
    <div class="post-container">
        <h2><a class="postTitle text-uppercase" href="/posts/{{posts.id}}">{{posts.title}}</a></h2>
        <div>
             <p class="blogCreate text-right">Created by {{posts.user.username}} on {{format_date post.date_created}}</p>
        </div>
        <div>
            <p class="text-center post-content">{{posts.description}}</p>
        </div>
    </div>
</div>

{{/each}}

